<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
      <p>
        Your Book have been review by <%= @review.user %>
        Review: <%= @review.review %>
      </p>
  </body>
</html>